{% extends "layout.html" %}   
{% block body %}
<script>
    $(document).ready(function() {
    $('#school').select2({
      placeholder: "School",
    allowClear: true
});
    $("#school").on('select2:select', function (e) {
    $("#school_id").val(e.params.data.id)
    $('#school-search').submit();
    
});
    })
</script>
<div class="form-group">
<label for="school">Please select a school</label>
<br>
<select class="js-example-basic-single js-states form-control" id="school" style="width: element;" name="code">
  <option></option>
  {% for row in auths %}
  <option value="{{ row.code }}">{{ School.query.filter_by(id=row.id).first().name }}</option>
  {% endfor %}
  </select>
</br>
<form method="post" id="school-search">
  <input type="text" class="form-control" id="school_id"  name="code" hidden>
</form>
</div>
{% endblock %}