{% extends "layout.html" %}   
{% block body %}
<div class="form-group">
<label for="school">Please login</label>
<br>
<form method="post" id="school-search">
  <input type="text" class="form-control" id="username"  name="username" placeholder="Username">
  <input type="password" class="form-control" id="password"  name="password" placeholder="Password">
  <input type="submit" class="btn btn-sm btn-primary" style="display: block; float: right; background-color: maroon; border: none; margin-top: 15px;" value="Submit">
</form>
</br>
</div>
{% endblock %}