{% extends "layout.html" %}
{% block body %}
    <form method="post" >
      <div class="form-group">
        <label for="school_id">Enter the code associated with the school you wish to edit.</label>
<!--        <div style="font-size: small">If you don't know the id, send an email here...:</div>-->
        <br>
        <input type="text" class="form-control" id="school_id" aria-describedby="emailHelp" placeholder="School code" name="code">
        <small class="form-text text-muted">If you don't have the code, send an email here...</small>
        <br>
      <input type="submit" style="width: 90px;" class="btn btn-outline-dark btn-sm" value="Go"/>
      </div>
    </form>
{% endblock %}