{% extends "layout.html" %}

{% block style %}
   <style>
        li {
        list-style: none;
        }
        .container {
            position: relative;
            text-align: center;
            color: white;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        #core-data {
            padding: 10px;
            background-color: lightgrey;
        }
        #schoolLogoUpload {
            display: none;
        }
        #logoUpload {

        }
        .card {
            border-radius: 0px;
        }
        .content-box {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
            overflow: auto;
        }
        .bold-label {
            font-weight: 600;
        }
        .light-label {
          font-weight: 100;
        }

    </style>
{% endblock %}
{% block script %}
<script>
    function showFormModal() {
        $('#formModal').modal('show');
    }

    function showWarningModal() {

        let btn =$('#warningMsg').html('')
        $('#warningModal').modal('show');
    }

    function setFormData(id) {
        let nm, text, imgPath;
        $('.icon-select').css('border', '1px solid white');
        if(id === undefined) {
            $('#name_eng').val("")
            $('#name_esp').val("")
            $('#textBody_eng').val("")
            $('#textBody_esp').val("")
            $('#saveOrSubmit').val("Submit");
            $('#modalLabel').html(`Create category`);
            $('#updateCheckBox').removeAttr('checked');
            $('#deleteCategoryButton').hide();
            $('#hideCategoryButton').hide();
        } else {
            $('#hideCategoryButton').show();
            $('#hideCategoryButton').attr('flag', id)
            $('#deleteCategoryButton').show();
            $('#deleteCategoryButton').attr('flag', id)
            $('#modalLabel').html(`Update category: ${name}`);
            $('#saveOrSubmit').val("Update");
            $('#updateCheckBox').attr('checked', true);
            $('#catid').val(id)
            $.getJSON(`category_data/${id}`, function(json) {
                console.log(json);
               if (json.imgPath != 'None') {
                   $(`[icon="${json.imgPath}"]`).click();
                   selectedIcon = $(`[icon="${json.imgPath}"]`);
                   selectedIcon.parent().parent().children(':first').attr('name', 'iconPath');
                   selectedIcon.parent().parent().children(':first').attr('value', selectedIcon.attr('icon'));
                   console.log(selectedIcon);
                   selectedIcon.css('border', '1px dashed black');
               } else {
                   $('#currentImg').hide()
               }
               $('#name_eng').val(json.name_eng)
               $('#name_esp').val(json.name_esp)
               $('#textBody_esp').val(json.text_esp)
               $('#textBody_eng').val(json.text_eng)
              
               const hiddenBtn = $('#hideCategoryButton');
               const hiddenTxt = $('#deleteCategorySubmit');
               if (json.hidden) {
                    hiddenBtn.html('Show');
                  hiddenTxt.val('Show this category')

               } else {
                 hiddenBtn.html('Hide');
                 hiddenTxt.val('Hide this category')
               }

            });
        }
    }


    $(document).ready(function() {


        // STYLE
        $('.iconWrapper').width(1500);

        // RUN ON START
        $('.card-img-top').each(function() {
            let thisCard = $(this);
            let categoryName = thisCard.parent().attr('flag');
            $.getJSON(`category_data/${categoryName}`, function(json) {
                if (json.imgPath != 'None') {
                    thisCard.attr('src', `/geticon/${json.imgPath}`);
                }
            });
        });

        $(`[data-target="#formModal"]`).click(() => {
            setFormData();
        });

        // EVENT LISTENER

        function showDeleteCategoryModal(e) {
            showWarningModal();
            const target = $(e.target);
            console.log(target);
            console.log('gherfwer')
            let warningMsg;
            if(target.attr('id') === 'hideCategoryButton') {
                if(target.html() === 'Hide') 
                    warningMsg='Are you sure to want to hide this category? Doing so will prevent students from viewing this category, however this action can be undone at any time.';
                else
                    warningMsg='Are you sure to want to show this category? Students will now be able to view this category. This action can be undone at any time.';
                $('#hideForm').show();
                $('#deleteForm').hide();
                $('#warningMsg').html(warningMsg);
                
            } else {
                warningMsg='Are you sure you want to delete this category? <br> At this time, there exist no backups of any deleted categories, and deleting this category cannot be undone.';
                $('#deleteForm').show();
                $('#hideForm').hide();
                $('#warningMsg').html(warningMsg);
            }
            let id = target.attr("flag")
            $('#dfCId').attr('value', id)
            $('#hfCId').attr('value', id)
            //$('#del').attr('value', true)
        }

        $('#deleteCategoryButton').on('click', function(e) {
            showDeleteCategoryModal(e);
        });

        $('#hideCategoryButton').on('click', function(e) {
            showDeleteCategoryModal(e);
        });

        $('.card').on('click', function(e) {
            console.log('CLICK REGISTERED');
            let mightBeCard = e.target;
            while(mightBeCard.className != "card") {
               mightBeCard = mightBeCard.parentNode;
               console.log("once");
            }
            console.log("HELLO", mightBeCard)
            let tag = mightBeCard.getAttribute("flag")
            console.log("here", tag);
            setFormData(tag);
            showFormModal();
        });

        // EVENT LISTENER
        $('a').on('click', function(e) {
            testf();
        });

        // EVENT LISTENER
        let selectedIcon = null;
        $('.icon-select').click(function(event) {
            console.log(event.target);
            if (selectedIcon != null) {
                selectedIcon.css('border', '1px solid white');
                selectedIcon.parent().parent().children(':first').removeAttr('name');
                if (selectedIcon.attr('icon') == $(event.target).closest('.icon-select').attr('icon')) {
                    selectedIcon = null;
                    return;
                }
            }
            selectedIcon = $(event.target).closest('.icon-select');
            selectedIcon.parent().parent().children(':first').attr('name', 'iconPath');
            selectedIcon.parent().parent().children(':first').attr('value', selectedIcon.attr('icon'));
            console.log(selectedIcon);
            selectedIcon.css('border', '1px dashed black');
        });
    });

    function testf() {
        console.log("Test");
    }

</script>
{% endblock %}

<!-- HEADER **form onsubmit is a test/placeholder-->
{% block body %}
  <div class="content-box">
    <div id="content">
      <div>
        <h6>Currently Editing: {{ g.school.name }}</h6>
          <form id="core-data" method="post" enctype="multipart/form-data" onsubmit="{{ url_for('school') }}">
            <label for="schoolName"> School Name: </label>
            <input type="text" id="schoolName" name="updated_school_name" value="{{ g.school.name }}" style="background-color: lightgray; border: none; border-bottom: 1px solid black">
            <br>
            <label for="schoolLogo"> School Logo: </label>
            {% if g.school.imgPath %}
              <img style="display: inline-block;" height="100px" width="100px" id="schoolLogo" src="{{ url_for('get_img', table='schools', id=g.school.id) }}">
            {% else %}
              <h6 style="display: inline-block;">No image has been uploaded.</h6>
            {% endif %}
            </label>
            <div class="form-group">
              <label for="logoUpload">Upload an icon or image</label>
              <input name="file" type="file" class="form-control-file" id="logoUpload">
            </div>
            <input type="submit" class="btn btn-sm btn-primary" style="display: block; border-radius: 0px;" value="Update">
          </form>
        </div>
    </div>
  </div>

  <div class="content-box" style="margin-top: 30px;">
    <button style="margin: 15px; background-color: maroon; border: none;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
                Create new category
    </button>
  </div>

<!-- CATEGORIES -->
<div class="content-box" style="margin-top: 30px;">
{% if categories is none %}
  <h5>No categories have been added yet!</h5>
{% else %}
  <div style="padding: 15px;">
  {% for category in categories %}
    <div style="display: inline-block">

      <!-- CATEGORY CARD -->
      <div class="card" style="width: 150px; display: inline-block;" flag="{{ category.id }}">
        {% if category.imgPath %}
          <img height="150px" width="150px" tag="{{ category.name_eng }}" id="categoryImg" class="card-img-top" src="{{ url_for('get_img', table='categories', id=category.id) }}"/>
        {% endif %}
          <div class="card-body">
            <h6 style="font-weight: 200; font-size: 17px; text-align: center; font-weight: bold;" class="card-title" id="categoryName">{{ (category.name_eng if category.name_eng != None else category.name_esp) }}</h6>
          </div>
        </div>
        <div>
          <a style="border-radius: 0px; width: 100%" class="btn btn-dark btn-sm" href="{{ url_for('manage_category', category_id=category.id) }}">
            <img src="{{ url_for('get_icon', path='gear.png') }}" height="25px" width="25px" style="background: none">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
</div>


<!-- CATEGORY EDIT (FORM) MODAL -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Create new category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" enctype="multipart/form-data">
        <input hidden type="checkbox" name="update" id="updateCheckBox">
        <input hidden name="catid" id="catid">
        <div class="modal-body">

          <!-- NAMES -->
          <div class="form-group">
            <label for="name_eng" class="bold-label">Name</label>
            <hr>
            <input name="name_eng" type="text" class="form-control light-label" id="name_eng" aria-describedby="nameInput" placeholder="Enter a name (english) for the category">
            <input name="name_esp" type="text" class="form-control light-label" id="name_esp" aria-describedby="nameInput" placeholder="Enter a name (espanol) for the category" style="margin-top: 10px;">
          </div>

          <!-- PARAGRAPHS -->
          <div class="form-group">
            <label for="textBody_eng" class="bold-label">Enter Bio/Info</label>
            <hr>
            <textarea name="text_eng" class="form-control light-label" id="textBody_eng" rows="3" placeholder="english"></textarea>
            <textarea name="text_esp" class="form-control light-label" id="textBody_esp" rows="3" placeholder="espanol"style="margin-top: 10px;"></textarea>
          </div>


          <!-- ICON SELECT -->
          <div class="form-group">
            <label for="imgSelect" class="bold-label">Choose an icon</label>
            <hr>
            <div style="overflow-x: scroll; white-space: nowrap">
              <input type="checkbox" id="imgSelect" checked hidden>
              {% for icon in icons %}
              <div style="display: inline-block;  margin-right: 15px;">
                <div style="width:70px; height:70px; border: 1px solid white; padding: 10px; " class="icon-select" selected="False" icon="{{ icon }}">
                  <img style="" src="{{ url_for('get_icon', path=icon) }}" height="50px" width="50px">
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="deleteCategoryButton" class="btn btn-danger">Delete This Category</button>
          <button type="button" id="hideCategoryButton" class="btn btn-danger">Hide</button>      
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" id="saveOrSubmit" type="button" class="btn btn-primary"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- DELETE CATEGORY MODAL -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 600px; height: 600px; margin-left: -51px">
        <div style="margin: 50px; text-align: center;">
            <div id=warningMsg></div>
                <input  name="delete" hidden>
            <div>
                <br><br>
                <form method="post" id="deleteForm" style="margin-top: 100px;">
                    <input id="dfCId" name="dfCId" hidden>
                    <input id="del"name="delete" hidden>
                    <input type="submit" class="btn btn-danger" value="Delete this category.">
                </form>
                <form method="post" id="hideForm" style="margin-top: 10px;">
                    <input id="hfCId" name="hfCId" hidden>
                    <input name="toggle_hide" hidden>
                    <input id="deleteCategorySubmit" type="submit" class="btn btn-danger">
                </form>
                <button style="margin-top: 10px;" data-dismiss="modal" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}